### Vim ###
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
/debs/
### Vagrant ###
scripts/*.log
scripts/.vagrant/
/.termux-build/
/termux-packages/
ais_secret.txt
scripts/ais-secret.txt
/ais-info/ais-secret.sh
