### Vim ###
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
/debs/
### Vagrant ###
scripts/*.log
scripts/.vagrant/
/.termux-build/
/termux-packages/
ais_secret.txt
script/ais_secret.txt
ais-info/ais_secret.txt
