# Vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# Vagrant
scripts/*.log
scripts/.vagrant/

# Built *.deb files.
/debs/
/output/

# Preinstalled build tools.
/build-tools/

# Predownloaded packages sources.
/packages/*/cache

/.termux-build/
/termux-packages/
ais_secret.txt
scripts/ais-secret.txt
/ais-info/ais-secret.sh
ais-bootstraps/*
/root-packages/*/cache
/x11-packages/*/cache
